{% extends 'wallet/base.html' %}

{% block title %}

	Пополнение

{% endblock %}

{% block content_title %}

	Пополнить

	<span>Выберете способ пополнения</span>

{% endblock %}

{% block content %}

	<div class="charge-block">
		<form class="data-form">
			<a href="#">Банковская карта</a>
			<a href="#">Создать ссылку для оплаты <i class="fa fa-info-circle"></i></a>
			<input type="text" name="" class="form-control">
			<a href="#" class="t2">Создать виджет оплаты</a>
			<p class="t5">Виджет - кастоммизированная ссылка на оплату, которая позволяет принимать платежи любым способом без создания собственного сайта.<br>Идеальный вариант для торговли в социальных сетях и мессенджерах.</p>
			<a href="#" class="t2">Получить виджет</a>

			<input type="hidden" name="action" value="charge">
			<input type="hidden" name="method" value="{{url_for('wallet.charge')}}">

			<span style="color: red; display: none;" class="error"></span>
			<input type="submit" class="btn-square btn-blue-gradient" value="Создать">
		</form>

	</div>

{% endblock %}