{% extends 'base_inner.html' %}

{% block title %}

	Игровые биржи

{% endblock %}

{% block content_title %}

	Игровые биржи
	
{% endblock %}

{% block content %}
	<p class="t1">
		Твоя сфера - продажа игровой валюты,<br>
		аккаунтов, кейсов и скинов?
	</p>

	<p class="t2">
		Специально для тебя Wallet подготовил уникальное пакетное<br>
		предложение:
	</p>

	<p class="t3">
		-самые низкие комиссии на рынке: от 6% СУММАРНО<br>
		-встраиваемые кошельки для пользователей<br>
		-удобные ссылки и виджеты для оплаты<br>
		-инливидуальный подход<br>
		-современные технологии безопасности
	</p>
{% endblock %}